.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: none;
}

.image {
  object-fit: cover;
  position: relative;
  border-radius: 4px;
  /* fill-opacity: #0E388A; */
  /* opacity: 90%; */
}

.name {
  font-weight: bold;
  text-align: center;
  position: absolute;
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

