* {
	box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


.staff-section{
	font-family: 'Lato', sans-serif;
	min-height: 100vh;
  margin-top: -10px;
  background-color: #F0F1F7;
}
.cards {
	display: flex;
	align-items: center;
	justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}