* {
	box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


.staff-section{
	font-family: 'Lato', sans-serif;
	min-height: 100vh;
  margin-top: -10px;
  background-color: #F0F1F7;
}
.cards {
	display: flex;
	align-items: center;
	justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media print {
  .no-print {
    display: none;
  }
}

.ant-table-thead > tr > th {
  color: white !important;
  background-color: #6c1c2c !important;
}
.ant-btn-primary {
    background-color: #6c1c2c !important;
    color: white !important; 

}
input[type="checkbox" i]:active {
      background-color: #6c1c2c !important;

}


:where(.css-dev-only-do-not-override-v3wdz2) a:hover {
    color: #6c1c2c;
}